# Ignore database and service data directories
/mssql_data/
/mssql_log/
/mssql_secrets/
/postgres_data/
/rabbitmq_data/
/mongodb_data/
/elasticsearch_data/
/n8n_data/
/qdrant_data/
/elasticsearch_data/

# Node, Python, and common system/editor files
node_modules/
.env
.DS_Store
Thumbs.db
*.log
*.tmp
.idea/
.vscode/