# Ignore database and service data directories
/data/
/log/
/postgres/
/rabbitmq-data/
/secrets/
/mongodb-data/
/elasticsearch-data/

# Node, Python, and common system/editor files
node_modules/
.env
.DS_Store
Thumbs.db
*.log
*.tmp
.idea/
.vscode/ 